<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Art-UI</title>
    <!--响应式开启-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--IE兼容-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--将360默认为极速模式打开-->
    <meta name="renderer" content="webkit">
    <!--加载CSS样式-->
    <link rel="stylesheet" href="Public/bootstrap/css/bootstrap.min.css" />
    <link rel="icon" href="Public/images/icon.png">
    <style>
        #editor {overflow:scroll; max-height:300px}
    </style>
</head>
<body>
<div class="container">
        <div class="row">
            <div class="col-6">
                <div id="editor">

                </div>
            </div>
            <div class="col-6">
                <button class="btn btn-lg btn-violet btn-round">确定确定</button>
            </div>
        </div>
    <div class="row">
        <div class="col-6">
            <div class="col">
                <button class="btn btn-lg btn-block btn-violet btn-round">确定确定</button>
            </div>

        </div>
        <div class="col-6">
            <button class="btn btn-lg btn-violet btn-round">确定确定</button>
        </div>
        <div class="col-3">3</div>
        <div class="col-3">3</div>
        <div class="col-3">3</div>
        <div class="col-3">3</div>
        <div class="col-1">
            <button class="btn  btn-violet btn-round">确定</button>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <button class="btn btn-lg btn-violet btn-round">确定确定</button>
            <button class="btn btn-lg btn-violet btn-round">确定确定</button>
            <button class="btn btn-lg btn-violet btn-round">确定确定</button>
        </div>
        <div class="col-6">
            <button class="btn btn-lg btn-violet btn-round">确定确定</button>
        </div>
    </div>
</div>

<script type="text/javascript" src="Public/js/jquery.min.js" ></script>
<script type="text/javascript" src="Public/bootstrap/js/bootstrap.min.js" ></script>
<script type="text/javascript" src="Public/js/art.js" ></script>
</body>
</html>